
.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: 0px;
	bottom: 0px;
	z-index: 0;
  background-image: linear-gradient(to bottom right, rgba(0, 168, 151, 0.8), rgba(143, 214, 189, 0.8)), url(/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
 